@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-black;
}

p {
    @apply text-stone-500 leading-relaxed;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 70vh;
    height: 40vh;
    padding-bottom: 1em;
    display: block;
}

.post-container {
    @apply p-4 my-5 m-2 border-b rounded-2xl;
}

.post-container a {
    @apply text-blue-600;
}

.text-post-body p {
    @apply py-2;
}
